doctype html
html
  head
    meta(charset="utf-8")
    title= title
  body
    h1= title

    form(action="/admin/menu/edit/submit" method="post")
      input(type="hidden" name="linkId" value=link._id)

      div
        label(for="name") Link text
        input#name(type="text" name="name" required value=link.name)

      div
        label(for="path") Path
        input#path(type="text" name="path" required value=link.path)

      div
        label(for="weight") Weight (order)
        input#weight(type="number" name="weight" min="0" value=link.weight)

      button(type="submit") Save Changes

    p
      a(href="/admin/menu") ← Back to list